.search {
  border: none;
  border-radius: .2rem;
  outline-color: #80808080;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem;
  width: 90vw;
  color: gray;
  display: flex;
}

.search:focus {
  outline: none;
}

h2 {
  color: #5c728a;
}