:root {
  --card-col2-color: #5c728a;
}

/** PARA PODER HACERLE PADDING A LA TARJETA, SI NO, SE ROMPE TODO  */
.card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 100%));
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  justify-content: center;
}

.grid-container {
  display: grid;
  min-width: 20rem;
  max-width: 100%;
  height: 15rem;
  margin: 1rem 0;
  background-color: #fafcfc;
  /** color para tarjetas con follow  */
  /* background-color: #91eea841; */
  border-radius: 0.2rem;
  box-shadow: 0 0 10px #0000002c;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    'keyart details'
    'keyart details'
    'keyart genres';
  transition: all 500ms ease;
}

.grid-container:hover {
  box-shadow: 0 0 12px #0000009c;
}

.aired-and-synopsis-container {
  display: flex;
  flex-direction: column;
  grid-area: details;
  overflow-y: scroll;
  height: 100%;
  scroll-behavior: smooth;
}
.aired-and-synopsis-container::-webkit-scrollbar {
  width: 12px;
}

.synopsis {
  font-size: 0.7rem;
  height: 100%;
  opacity: 1;
  transition: opacity 500ms ease;
}

.aired,
.synopsis {
  color: var(--card-col2-color);
  padding: 0.5rem;
}

.genre-tags {
  grid-area: genres;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  min-height: 2rem;
  background-color: #eff7fb;
  color: var(--card-col2-color);
  border-bottom-right-radius: 0.2rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.tags-box {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  width: 100%;
}

.favorite-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border: solid 1px var(--card-col2-color);
  border-radius: 1rem;
  cursor: pointer;
}

.favorite-img {
  max-height: 100%;
}

@media (width >= 800px) {
  .card {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 80vw));
  }
  .grid-container {
    transform: scale(1.1);
  }
}
@media (width >= 1024px) {
  .card {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 24rem));
  }
  .grid-container {
    transform: scale(1.01);
  }
}
