:root {
  --card-col2-color: #5c728a;
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 100%));
  grid-template-rows: 1fr;
  gap: 1rem;
  justify-content: center;
  padding-bottom: 5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'keyart details'
    'keyart details'
    'keyart details';
  height: 15rem;
  min-width: 20rem;
  max-width: 100%;
  margin: 0.5rem 0;
  background-color: #fafcfc;
  border-radius: 0.2rem;
  box-shadow: 0 0 10px #0000002c;
  transition: all 500ms ease;
}

.grid-container:hover {
  box-shadow: 0 0 12px #0000009c;
}

.col-2-container {
  grid-area: details;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15rem;
  width: 100%;
}

.left-gap {
  margin-left: 0.5rem;
}

.aired {
  margin-top: 0.5rem;
  color: var(--card-col2-color);
}

.synopsis {
  margin-right: 0.5rem;
  font-size: 0.7rem;
  color: var(--card-col2-color);
}

.aired-and-synopsis-container {
  scroll-behavior: smooth;
}

.aired-and-synopsis-container::-webkit-scrollbar {
  width: 12px;
}

.genre-tags {
  background-color: #eff7fb;
  color: var(--card-col2-color);
}

.tags-box {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0.3rem 0.3rem 0.3rem 0;
}

.favorite-btn {
  height: 1.2rem;
  text-align: center;
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: #80808041;
  transition: background-color 500ms ease;
}

@media (width >= 800px) {
  .bk-banner {
    display: block;
  }

  .card {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 80vw));
  }

  h1, h2 {
    color: #fafcfc;
  }
  .search {
    width: 90%;
  }
  .grid-container {
    transform: scale(1.1);
  }
}
@media (width >= 1024px) {
  .card {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 24rem));
  }
  .grid-container {
    transform: scale(1.01);
  }
}
