.image-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 15rem;
  grid-area: keyart;
}

.card-img {
  max-height: 100%;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.card-img-details-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  background-color: #1d1d1dd8;
  width: 100%;
  font-size: 0.8rem;
  border-bottom-left-radius: 0.2rem;
}

.card-title {
  color: #fff;
}

.card-studio {
  color: #6495ed;
}
