html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

input {
  font: inherit;
}

img {
  display: block;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #929393 #fafcfc;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #fafcfc;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #929393;
    border-radius: 10px;
    border: 3px solid #fafcfc;
  }

  body {
    padding: .5rem;
  }